In [1]:
#216270307010
#mahek parmar

#Write a Pandas program to implement following operation
#â€¢ to find and drop the missing values from the given dataset

import pandas as pd
df=pd.read_csv('/kaggle/input/nifty50-stock-market-data/HDFC.csv')
mis=df. isna()
df_clean=df.dropna(axis=0)
print(df)
print(mis)
print(df_clean)

            Date Symbol Series  Prev Close     Open     High      Low  \
0     2000-01-03   HDFC     EQ      271.75   293.50   293.50   293.50
1     2000-01-04   HDFC     EQ      293.50   317.00   317.00   297.00
2     2000-01-05   HDFC     EQ      304.05   290.00   303.90   285.00
3     2000-01-06   HDFC     EQ      292.80   301.00   314.00   295.00
4     2000-01-07   HDFC     EQ      296.45   290.00   296.35   281.00
...          ...    ...    ...         ...      ...      ...      ...
5301  2021-04-26   HDFC     EQ     2497.35  2500.00  2534.10  2483.20
5302  2021-04-27   HDFC     EQ     2509.80  2494.15  2526.80  2486.25
5303  2021-04-28   HDFC     EQ     2518.40  2516.10  2609.00  2508.30
5304  2021-04-29   HDFC     EQ     2577.00  2590.90  2628.00  2533.00
5305  2021-04-30   HDFC     EQ     2538.85  2503.10  2525.00  2411.10

         Last    Close     VWAP   Volume      Turnover    Trades  \
0      293.50   293.50   293.50    22744  6.675364e+11       NaN
1      304.00   304.05   303.62   255251  7.749972e+12       NaN
2      295.00   292.80   294.53   269087  7.925368e+12       NaN
3      296.00   296.45   300.14   305916  9.181669e+12       NaN
4      287.10   286.55   288.80   197039  5.690480e+12       NaN
...       ...      ...      ...      ...           ...       ...
5301  2502.00  2509.80  2508.07  3916088  9.821805e+14  121028.0
5302  2514.00  2518.40  2509.18  2040799  5.120730e+14  102250.0
5303  2575.00  2577.00  2574.21  3407461  8.771527e+14  117425.0
5304  2539.70  2538.85  2569.65  3005468  7.722995e+14  132826.0
5305  2433.25  2420.10  2445.94  6024595  1.473581e+15  224454.0

      Deliverable Volume  %Deliverble
0                    NaN          NaN
1                    NaN          NaN
2                    NaN          NaN
3                    NaN          NaN
4                    NaN          NaN
...                  ...          ...
5301           2440395.0       0.6232
5302           1040749.0       0.5100
5303           1815110.0       0.5327
5304           1472924.0       0.4901
5305           3839105.0       0.6372

[5306 rows x 15 columns]
       Date  Symbol  Series  Prev Close   Open   High    Low   Last  Close  \
0     False   False   False       False  False  False  False  False  False
1     False   False   False       False  False  False  False  False  False
2     False   False   False       False  False  False  False  False  False
3     False   False   False       False  False  False  False  False  False
4     False   False   False       False  False  False  False  False  False
...     ...     ...     ...         ...    ...    ...    ...    ...    ...
5301  False   False   False       False  False  False  False  False  False
5302  False   False   False       False  False  False  False  False  False
5303  False   False   False       False  False  False  False  False  False
5304  False   False   False       False  False  False  False  False  False
5305  False   False   False       False  False  False  False  False  False

       VWAP  Volume  Turnover  Trades  Deliverable Volume  %Deliverble
0     False   False     False    True                True         True
1     False   False     False    True                True         True
2     False   False     False    True                True         True
3     False   False     False    True                True         True
4     False   False     False    True                True         True
...     ...     ...       ...     ...                 ...          ...
5301  False   False     False   False               False        False
5302  False   False     False   False               False        False
5303  False   False     False   False               False        False
5304  False   False     False   False               False        False
5305  False   False     False   False               False        False

[5306 rows x 15 columns]
            Date Symbol Series  Prev Close     Open     High      Low  \
2850  2011-06-01   HDFC     EQ      684.05   676.55   692.95   676.55
2851  2011-06-02   HDFC     EQ      689.10   681.05   684.70   676.60
2852  2011-06-03   HDFC     EQ      680.00   678.50   683.05   658.25
2853  2011-06-06   HDFC     EQ      660.05   659.95   674.10   659.15
2854  2011-06-07   HDFC     EQ      670.65   668.00   674.65   662.30
...          ...    ...    ...         ...      ...      ...      ...
5301  2021-04-26   HDFC     EQ     2497.35  2500.00  2534.10  2483.20
5302  2021-04-27   HDFC     EQ     2509.80  2494.15  2526.80  2486.25
5303  2021-04-28   HDFC     EQ     2518.40  2516.10  2609.00  2508.30
5304  2021-04-29   HDFC     EQ     2577.00  2590.90  2628.00  2533.00
5305  2021-04-30   HDFC     EQ     2538.85  2503.10  2525.00  2411.10

         Last    Close     VWAP   Volume      Turnover    Trades  \
2850   689.00   689.10   688.38  1204308  8.290230e+13   38210.0
2851   680.25   680.00   680.53  1100046  7.486138e+13   20300.0
2852   659.15   660.05   668.24  2170805  1.450628e+14   33742.0
2853   671.00   670.65   668.56  2854529  1.908411e+14   38749.0
2854   667.35   669.20   669.01  1865334  1.247924e+14   35136.0
...       ...      ...      ...      ...           ...       ...
5301  2502.00  2509.80  2508.07  3916088  9.821805e+14  121028.0
5302  2514.00  2518.40  2509.18  2040799  5.120730e+14  102250.0
5303  2575.00  2577.00  2574.21  3407461  8.771527e+14  117425.0
5304  2539.70  2538.85  2569.65  3005468  7.722995e+14  132826.0
5305  2433.25  2420.10  2445.94  6024595  1.473581e+15  224454.0

      Deliverable Volume  %Deliverble
2850            562346.0       0.4669
2851            637219.0       0.5793
2852           1435985.0       0.6615
2853           2007268.0       0.7032
2854           1207216.0       0.6472
...                  ...          ...
5301           2440395.0       0.6232
5302           1040749.0       0.5100
5303           1815110.0       0.5327
5304           1472924.0       0.4901
5305           3839105.0       0.6372

[2456 rows x 15 columns]

In [2]:
import pandas as pd
df=pd.read_csv('/kaggle/input/employee-dataset/Employee.csv')
df_cleaned=df.drop_duplicates()
print(df)
print(df_cleaned)

      Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0     Bachelors         2017  Bangalore            3   34    Male          No
1     Bachelors         2013       Pune            1   28  Female          No
2     Bachelors         2014  New Delhi            3   38  Female          No
3       Masters         2016  Bangalore            3   27    Male          No
4       Masters         2017       Pune            3   24    Male         Yes
...         ...          ...        ...          ...  ...     ...         ...
4648  Bachelors         2013  Bangalore            3   26  Female          No
4649    Masters         2013       Pune            2   37    Male          No
4650    Masters         2018  New Delhi            3   27    Male          No
4651  Bachelors         2012  Bangalore            3   30    Male         Yes
4652  Bachelors         2015  Bangalore            3   33    Male         Yes

      ExperienceInCurrentDomain  LeaveOrNot
0                             0           0
1                             3           1
2                             2           0
3                             5           1
4                             2           1
...                         ...         ...
4648                          4           0
4649                          2           1
4650                          5           1
4651                          2           0
4652                          4           0

[4653 rows x 9 columns]
      Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0     Bachelors         2017  Bangalore            3   34    Male          No
1     Bachelors         2013       Pune            1   28  Female          No
2     Bachelors         2014  New Delhi            3   38  Female          No
3       Masters         2016  Bangalore            3   27    Male          No
4       Masters         2017       Pune            3   24    Male         Yes
...         ...          ...        ...          ...  ...     ...         ...
4645    Masters         2017       Pune            2   31  Female          No
4647  Bachelors         2016       Pune            3   30    Male          No
4649    Masters         2013       Pune            2   37    Male          No
4650    Masters         2018  New Delhi            3   27    Male          No
4651  Bachelors         2012  Bangalore            3   30    Male         Yes

      ExperienceInCurrentDomain  LeaveOrNot
0                             0           0
1                             3           1
2                             2           0
3                             5           1
4                             2           1
...                         ...         ...
4645                          2           0
4647                          2           0
4649                          2           1
4650                          5           1
4651                          2           0

[2764 rows x 9 columns]